 .description {
	max-width: 705px;
	/*display: flex;*/
}


.app {
	display: flex;
}

.screenshot {
	max-width: 460px;
	display: flex;
	display: webkit-flex;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


